#particle-field {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
body {
  background-color:#070D0D;
  color: #EEE5E9;
  overflow: hidden;
}
a:link,
a:visited{
  color: #EEE5E9;
}

footer {
  display: none;
}